
<% layout('/layouts/boilerplates.ejs') %>
    <h1>All Shopping Complex</h1>

    <a href="/campgrounds/new">Add New Shopping Complex</a>
  
        <% for (let campground of campgrounds) { %>
      

        
<div class="card mb-3">
  <div class="row">
    <div  class="col-md-4">

      <% if(campground.images.length){%>
      <img src="<%=campground.images[0].url%>" alt="" class="img-fluid">
      <% } else{%>
        <img src="" alt="" class="img-fluid">
        <%}%>


    </div>
    <div class="col-md-8 card-body">
      <h1 class="card-title"><%= campground.name%></h1>
      <h3>Parking Price: Rs.<%= campground.price%>/Car </h3>
      <p><%= campground.description%></p>
      <p class="card-text">
        <small class="text-muted"><%= campground.location %></small>
      </p>

      <a href="/campgrounds/<%=campground._id%>" class="btn btn-primary">View <%=campground.name%></a>


    </div>
  </div>
</div>

            <% } %>
 
            

            

